.logo {
  display: flex;
  align-items: center;
  width: 299px;
}
.logo__img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.logo__text {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  white-space: nowrap;
}
.logo__name {
  display: block;
  font-size: 20px;
  font-weight: 700;
}
.logo__description {
  display: block;
  font-size: 18px;
  opacity: 0.6;
}

@media (max-width: 400px) {
  .header .logo {
    width: 261px;
  }
  .header .logo__img {
    width: 48px;
    height: 48px;
    margin-right: 13px;
  }
  .header .logo__description {
    display: none;
  }
}

@media (max-width: 400px) {
  .footer .logo {
    flex-direction: column;
    width: 320px;
    margin-bottom: 32px;
  }
  .footer .logo__img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer .logo__text {
    flex-direction: column;
    align-items: center;
  }
}

.header {
  height: 890px;
  background-color: #f3c6bd;
  color: #2b292d;
}
@media (min-width: 400px) {
  .header {
    height: 710px;
    padding-top: 39px;
    padding-left: 126px;
  }
  .header .button {
    display: block;
    width: 160px;
  }
}

.menu {
  display: flex;
  padding-left: 15px;
  background-color: #ffffff;
}
@media (min-width: 400px) {
  .menu {
    max-width: 1140px;
    height: 62px;
    padding: 0;
    margin-bottom: 76px;
    background-color: #f3c6bd;
  }
}
.menu .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 57px;
  height: 64px;
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
@media (max-width: 400px) {
  .menu .navigation .nav-list {
    display: none;
  }
  .menu .navigation__arrow-popup {
    display: none;
  }
  .menu .navigation:hover .nav-list {
    display: block;
    position: absolute;
    top: 64px;
    right: 0;
    width: 170px;
    background-color: #332e2e;
  }
  .menu .navigation:hover .nav-list__item a {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    padding-left: 20px;
  }
  .menu .navigation:hover .nav-list__item a:hover {
    color: green;
  }
}
@media (min-width: 400px) {
  .menu .navigation {
    display: block;
    width: 323px;
    height: 100%;
    margin-left: auto;
    position: relative;
    border: none;
  }
  .menu .navigation__menu-icon {
    display: none;
  }
  .menu .navigation .nav-list {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    font-size: 18px;
    line-height: 25px;
    margin-right: 75px;
  }
  .menu .navigation .nav-list__item a {
    color: #2b292d;
  }
  .menu .navigation .nav-list__item_selected {
    font-weight: 700;
  }
  .menu .navigation__arrow-popup {
    display: block;
    position: absolute;
    right: 56px;
    top: 19px;
  }
}

.headline {
  height: 826px;
}
@media (min-width: 400px) {
  .headline {
    position: relative;
    width: 1245px;
    height: 456px;
    padding-bottom: 77px;
  }
}
.headline__info {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding: 0 15px;
}
@media (min-width: 400px) {
  .headline__info {
    position: relative;
    padding: 0;
    z-index: 10;
  }
}
.headline__title {
  width: 290px;
  height: 205px;
  margin-bottom: 24px;
  font-size: 50px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: -0.31px;
}
@media (min-width: 400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    margin-bottom: 34px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
  }
}
.headline__text {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
}
@media (min-width: 400px) {
  .headline__text {
    max-width: 456px;
    height: 102px;
    margin-bottom: 58px;
    line-height: 34px;
  }
}
.headline__buttons {
  margin-bottom: 33px;
}
@media (min-width: 400px) {
  .headline__buttons {
    display: flex;
    justify-content: space-between;
    max-width: 328px;
  }
}
.headline__buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headline__buttons .button:first-child {
  margin-bottom: 15px;
}
.headline__img {
  max-width: 100%;
}
@media (min-width: 400px) {
  .headline__img {
    max-width: 100%;
    position: absolute;
    top: 8px;
    right: 0;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 428px;
  padding: 46px 0;
  margin: 0;
  background-color: #f4f5f7;
}
@media (min-width: 400px) {
  .about {
    flex-direction: row;
    justify-content: center;
    gap: 29px;
    height: 255px;
    padding: 0;
    margin-bottom: 30px;
  }
}

.article {
  width: 290px;
  height: 180px;
  font-size: 22px;
  line-height: 32px;
}
@media (min-width: 400px) {
  .article {
    width: 555px;
    height: 102px;
  }
}
.article:first-child {
  margin-bottom: 30px;
}
@media (min-width: 400px) {
  .article:first-child {
    margin-bottom: 0;
  }
}
.article__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
}
.article__text {
  margin: 0;
  margin-bottom: 30px;
}

.customers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 8px;
}
@media (min-width: 400px) {
  .customers {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    width: 1140px;
    padding-bottom: 0;
    margin-left: 130px;
    margin-bottom: 106px;
  }
}
.customers__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 93px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
@media (min-width: 400px) {
  .customers__logo {
    border: none;
  }
}
.customers__logo:nth-child(3n) {
  border-right: none;
}
.customers__logo img {
  max-width: 80%;
}
@media (min-width: 400px) {
  .customers__logo img {
    max-width: 100%;
  }
}

.tips {
  display: block;
  margin-bottom: 10px;
}
.tips__section {
  padding-left: 15px;
  line-height: 34px;
  border-bottom: 1px solid #e3e3e3;
}
.tips__section:last-child {
  border: none;
}
.tips__subtitle {
  margin-top: 40px;
  margin-bottom: 17px;
  color: #009b4d;
  font-size: 22px;
  font-weight: 700;
}
.tips__title {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.35px;
}
.tips__text {
  margin-bottom: 30px;
  font-size: 24px;
}
.tips__img {
  margin-bottom: 19px;
}
.tips__img img {
  max-width: 100%;
}
.tips__img-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  opacity: 0.6;
}

@media (min-width: 400px) {
  .tips {
    display: none;
  }
}
.features {
  display: block;
  position: relative;
  margin-bottom: 103px;
  padding-left: 125px;
}
.features__icon {
  position: absolute;
  top: 258px;
  left: 0;
}
.features__icon img {
  max-width: 100%;
}
.features__info {
  position: relative;
  z-index: 10;
  line-height: 34px;
}
.features__subtitle {
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: 700;
  color: #009b4d;
}
.features__title {
  width: 462px;
  height: 112px;
  margin-bottom: 30px;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  font-weight: 700;
}
.features__text {
  width: 461px;
  height: 102px;
  margin-bottom: 42px;
  font-size: 24px;
  font-weight: 400;
}
.features__img {
  position: absolute;
  top: 0;
  right: 0;
}
.features__img img {
  max-width: 100%;
}

.opportunities__item {
  width: 457px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.15);
}
.opportunities-item {
  display: flex;
  align-items: center;
  width: 457px;
  padding: 22px 0;
}
.opportunities-item__icon {
  margin-right: 15px;
  max-width: 100%;
}
.opportunities-item__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  cursor: pointer;
}
.opportunities-item__description {
  width: 459px;
  padding-bottom: 18px;
  font-size: 18px;
  line-height: 26px;
}
.opportunities-item_hover {
  border-bottom: 3px solid #3142c6;
}
.opportunities-item_hover .item__title {
  color: #3142c6;
}

@media (max-width: 400px) {
  .features {
    display: none;
  }
}
.audience {
  padding: 50px 15px;
  background-color: rgba(0, 161, 198, 0.07);
  text-align: center;
}
@media (min-width: 400px) {
  .audience {
    padding: 108px 0 110px;
  }
}
.audience__subtitle {
  margin-bottom: 17px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
}
@media (min-width: 400px) {
  .audience__subtitle {
    margin-bottom: 24px;
  }
}
.audience__title {
  margin-bottom: 18px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.35px;
}
@media (min-width: 400px) {
  .audience__title {
    width: 555px;
    height: 112px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.audience__text {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
}
@media (min-width: 400px) {
  .audience__text {
    width: 555px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}
.audience__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 108px;
  margin-bottom: 40px;
}
@media (min-width: 400px) {
  .audience__buttons {
    flex-direction: row;
    width: 328px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 111px;
  }
}
.audience .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 400px) {
  .audience .button {
    width: 160px;
  }
}
@media (min-width: 400px) {
  .audience .figures {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
.audience .figures__link {
  width: 290px;
  height: 300px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 22px 0 33px;
  margin-bottom: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
}
@media (min-width: 400px) {
  .audience .figures__link {
    width: 262px;
    height: 300px;
  }
}
.audience .figures__link:hover {
  background-color: #3141c5;
}
.audience .figures__link:hover .figures__item {
  color: #ffffff;
}
.audience .figures__item {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: #2b292d;
}
.audience .figures__item img {
  max-width: 100%;
}
.audience .figures__item-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 22px;
}
.audience .figures__item-caption {
  text-align: center;
}

.button {
  display: none;
  width: 290px;
  height: 48px;
  padding: 0;
  border: none;
  background-color: #3040c4;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 13px;
  cursor: pointer;
}
.button:hover {
  color: #000000;
}
.button_secondary {
  background-color: #ffffff;
  color: #3040c4;
}

.order {
  background-color: #f4f5f7;
  padding: 50px 15px;
}
@media (min-width: 400px) {
  .order {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 122px;
    height: 441px;
  }
}
.order__icon {
  margin-bottom: 40px;
}
@media (min-width: 400px) {
  .order__icon {
    display: flex;
    margin-bottom: 0;
  }
}
.order__icon img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 220px;
}
@media (min-width: 400px) {
  .order__icon img {
    width: 269px;
    height: 296px;
  }
}
@media (min-width: 400px) {
  .order-info {
    width: 555px;
  }
}
.order-info__title {
  margin-bottom: 18px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
}
@media (min-width: 400px) {
  .order-info__title {
    margin-bottom: 12px;
    text-align: left;
  }
}
.order-info__text {
  height: 167px;
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 32px;
}
@media (min-width: 400px) {
  .order-info__text {
    height: 64px;
    margin-bottom: 26px;
  }
}
.order-info__offer {
  font-size: 14px;
  line-height: 22px;
  opacity: 0.6;
}
.order-info__offer a {
  text-decoration: underline;
}
@media (min-width: 400px) {
  .order-form {
    display: flex;
    margin-bottom: 10px;
  }
}
.order-form__input {
  width: 290px;
  height: 48px;
  margin-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 400px) {
  .order-form__input {
    width: 385px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}
.order-form .button {
  display: block;
  width: 290px;
  margin-bottom: 10px;
}
@media (min-width: 400px) {
  .order-form .button {
    width: 160px;
    margin-bottom: 0;
  }
}

.button {
  display: none;
  width: 290px;
  height: 48px;
  padding: 0;
  border: none;
  background-color: #3040c4;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 13px;
  cursor: pointer;
}
.button:hover {
  color: #000000;
}
.button_secondary {
  background-color: #ffffff;
  color: #3040c4;
}

.footer {
  padding: 40px 0 22px;
}
@media (min-width: 400px) {
  .footer {
    padding: 43px 0 0;
  }
}
.footer a {
  color: #2b292d;
  opacity: 0.6;
}
.footer a:hover {
  color: #3141c5;
  opacity: 1;
}
@media (min-width: 400px) {
  .footer__top {
    display: flex;
    align-items: center;
    padding-bottom: 47px;
    padding-left: 130px;
    border-bottom: 1px solid rgba(43, 41, 45, 0.1);
  }
}
.footer__bottom {
  padding-left: 16px;
}
@media (min-width: 400px) {
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0;
    padding-left: 130px;
  }
}

.additional-info {
  margin-bottom: 39px;
}
@media (min-width: 400px) {
  .additional-info {
    margin-bottom: 0;
    margin-right: 126px;
  }
}
.additional-info__text {
  display: none;
}
@media (min-width: 400px) {
  .additional-info__text {
    display: block;
    width: 360px;
    height: 85px;
    margin: 25px 0;
    font-size: 18px;
    line-height: 26px;
    opacity: 0.6;
  }
}
.additional-info__download-icons {
  display: flex;
  justify-content: space-between;
  width: 261px;
  margin: 0 auto;
}
@media (min-width: 400px) {
  .additional-info__download-icons {
    margin: 0;
  }
}

.additional-nav {
  margin-bottom: 30px;
  border-top: 1px solid rgba(43, 41, 45, 0.1);
}
@media (min-width: 400px) {
  .additional-nav {
    display: flex;
    margin-bottom: 0;
    border-top: none;
  }
}
.additional-nav__block {
  padding-top: 30px;
  padding-left: 16px;
}
@media (min-width: 400px) {
  .additional-nav__block {
    padding-top: 17px;
    padding-left: 0;
  }
}
.additional-nav__title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
@media (min-width: 400px) {
  .additional-nav__list {
    width: 265px;
    height: 185px;
  }
}
.additional-nav__list-item {
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 167%;
}

.legal-list {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 157%;
}
@media (min-width: 400px) {
  .legal-list {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 157%;
  }
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 97px;
}
.social-icons__icon {
  width: 21px;
  height: 16px;
  cursor: pointer;
}
.social-icons__icon a {
  opacity: 1;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.page {
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 400px) {
  .page {
    max-width: 1400px;
  }
}

/*# sourceMappingURL=styles.css.map */
