@import 'breakpoints.scss';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 428px;
  padding: 46px 0;
  margin: 0;
  background-color: #f4f5f7;

  @include for-medium {
    flex-direction: row;
    justify-content: center;
    gap: 29px;
    height: 255px;
    padding: 0;
    margin-bottom: 30px;
  }
}

.article {
  width: 290px;
  height: 180px;
  font-size: 22px;
  line-height: 32px;

  @include for-medium {
    width: 555px;
    height: 102px;
  }

  &:first-child {
    margin-bottom: 30px;

    @include for-medium {
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;
  }
}
