@import 'breakpoints.scss';
@import 'variables.scss';

.audience {
  padding: 50px 15px;
  background-color: rgba(0, 161, 198, 7%);
  text-align: center;

  @include for-medium {
    padding: 108px 0 110px;
  }

  &__subtitle {
    margin-bottom: 17px;
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;

    @include for-medium {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.35px;

    @include for-medium {
      width: 555px;
      height: 112px;
      margin: 0 auto;
      margin-bottom: 30px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }

  &__text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 34px;

    @include for-medium {
      width: 555px;
      height: 72px;
      margin: 0 auto;
      margin-bottom: 32px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 108px;
    margin-bottom: 40px;

    @include for-medium {
      flex-direction: row;
      width: 328px;
      height: 48px;
      margin: 0 auto;
      margin-bottom: 111px;
    }
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-medium {
      width: 160px;
    }
  }

  .figures {
    @include for-medium {
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    &__link {
      width: 290px;
      height: 300px;
      display: block;
      width: 100%;
      height: 100%;
      padding: 22px 0 33px;
      margin-bottom: 15px;
      background-color: $white-color;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        inset 0 1px 0 0 rgba(255, 255, 255, 0.1);

      @include for-medium {
        width: 262px;
        height: 300px;
      }

      &:hover {
        background-color: #3141c5;
      }

      &:hover .figures__item {
        color: $white-color;
      }
    }

    &__item {
      margin: 0;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
      color: $main-text-color;

      img {
        max-width: 100%;
      }

      &-img {
        display: block;
        margin: 0 auto;
        margin-bottom: 22px;
      }

      &-caption {
        text-align: center;
      }
    }
  }
}
