@import 'breakpoints.scss';

.customers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 8px;

  @include for-medium {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    width: 1140px;
    padding-bottom: 0;
    margin-left: 130px;
    margin-bottom: 106px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 93px;
    border-bottom: 1px solid rgb(227, 227, 227);
    border-right: 1px solid rgb(227, 227, 227);

    @include for-medium {
      border: none;
    }

    &:nth-child(3n) {
      border-right: none;
    }

    img {
      max-width: 80%;

      @include for-medium {
        max-width: 100%;
      }
    }
  }
}
