@import 'breakpoints.scss';

.customers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 8px;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 93px;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;

    &:nth-child(3n) {
      border-right: none;
    }

    img {
      max-width: 80%;
    }
  }
}

@include for-medium {
  .customers {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    width: 1140px;
    padding-bottom: 0;
    margin-left: 130px;
    margin-bottom: 106px;

    &__logo {
      border: none;

      img {
        max-width: 100%;
      }
    }
  }
}
