@import 'button.scss';
@import 'breakpoints.scss';
@import 'variables.scss';

.footer {
  padding: 40px 0 22px;

  @include for-medium {
    padding: 43px 0 0;
  }

  a {
    color: $main-text-color;
    opacity: 0.6;

    &:hover {
      color: #3141c5;
      opacity: 1;
    }
  }

  &__top {
    @include for-medium {
      display: flex;
      align-items: center;
      padding-bottom: 47px;
      padding-left: 130px;
      border-bottom: 1px solid rgba(43, 41, 45, 0.1);
    }
  }

  &__bottom {
    padding-left: 16px;

    @include for-medium {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding: 0;
      padding-left: 130px;
    }
  }
}

.additional-info {
  margin-bottom: 39px;

  @include for-medium {
    margin-bottom: 0;
    margin-right: 126px;
  }

  &__text {
    display: none;

    @include for-medium {
      display: block;
      width: 360px;
      height: 85px;
      margin: 25px 0;
      font-size: 18px;
      line-height: 26px;
      opacity: 0.6;
    }
  }

  &__download-icons {
    display: flex;
    justify-content: space-between;
    width: 261px;
    margin: 0 auto;

    @include for-medium {
      margin: 0;
    }
  }
}

.additional-nav {
  margin-bottom: 30px;
  border-top: 1px solid rgba(43, 41, 45, 0.1);

  @include for-medium {
    display: flex;
    margin-bottom: 0;
    border-top: none;
  }

  &__block {
    padding-top: 30px;
    padding-left: 16px;

    @include for-medium {
      padding-top: 17px;
      padding-left: 0;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
  }

  &__list {
    @include for-medium {
      width: 265px;
      height: 185px;
    }
    &-item {
      padding-bottom: 5px;
      font-size: 18px;
      line-height: 167%;
    }
  }
}

.legal-list {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 157%;

  @include for-medium {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 157%;
  }
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 97px;

  &__icon {
    width: 21px;
    height: 16px;
    cursor: pointer;

    a {
      opacity: 1;
    }
  }
}
