@import 'variables.scss';
@import 'breakpoints.scss';

.header {
  display: flex;
  height: 64px;
  padding-left: 15px;
  background-color: $white-color;
  color: $main-text-color;

  @include for-large {
    height: 177px;
    padding: 39px 130px 76px;
    background-color: rgb(243, 198, 189);
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 64px;
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 0.15);

  @include for-large {
    display: block;
    width: 323px;
    height: 100%;
    margin-left: auto;
    position: relative;
    border: none;
  }

  &__menu-icon {
    @include for-large {
      display: none;
    }
  }

  &__arrow-popup {
    display: none;

    @include for-large {
      display: block;
      position: absolute;
      right: 56px;
      top: 19px;
    }
  }
}

.nav-list {
  display: none;

  @include for-large {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    margin-right: 75px;
    font-size: 18px;
    line-height: 25px;
  }

  a {
    color: $main-text-color;
  }

  &__item_selected {
    @include for-large {
      font-weight: 700;
    }
  }
}
