.headline {
  height: 826px;
  background-color: rgb(243, 198, 189);

  @include for-large {
    position: relative;
    height: 456px;
    padding: 0 25px 77px 130px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    @include for-large {
      position: relative;
      padding: 0;
      z-index: 10;
    }
  }

  &__title {
    width: 290px;
    height: 205px;
    margin-bottom: 24px;
    font-size: 50px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: -0.31px;

    @include for-large {
      width: 754px;
      height: 165px;
      margin-bottom: 34px;
      font-size: 80px;
      line-height: 78px;
      letter-spacing: -0.5px;
    }
  }

  &__text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 34px;

    @include for-large {
      max-width: 456px;
      height: 102px;
      margin-bottom: 58px;
      line-height: 34px;
    }
  }

  &__buttons {
    margin-bottom: 33px;

    @include for-large {
      display: flex;
      justify-content: space-between;
      max-width: 328px;
    }
  }

  &__img {
    max-width: 100%;

    @include for-large {
      max-width: 100%;
      position: absolute;
      top: 8px;
      right: 0;
    }
  }
}
