@import 'header.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'audience.scss';
@import 'order.scss';
@import 'footer.scss';

@import 'breakpoints.scss';
@import 'variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  color: $main-text-color;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.page {
  max-width: 320px;
  margin: 0 auto;
}

@include for-medium {
  .page {
    max-width: 1400px;
  }
}
