@import 'breakpoints.scss';

.logo {
  display: flex;
  align-items: center;
  width: 299px;

  &__img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    white-space: nowrap;
  }

  &__name {
    display: block;
    font-size: 20px;
    font-weight: 700;
  }

  &__description {
    display: block;
    font-size: 18px;
    opacity: 0.6;
  }
}

.header {
  @include for-extra-small {
    .logo {
      width: 261px;

      &__img {
        width: 48px;
        height: 48px;
        margin-right: 13px;
      }

      &__description {
        display: none;
      }
    }
  }
}

.footer {
  @include for-extra-small {
    .logo {
      flex-direction: column;
      width: 320px;
      margin-bottom: 32px;

      &__img {
        margin-right: 0;
        margin-bottom: 20px;
      }

      &__text {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
