@import 'breakpoints.scss';

.order {
  background-color: rgb(244, 245, 247);
  padding: 50px 15px;

  @include for-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 122px;
    height: 441px;
  }

  &__icon {
    margin-bottom: 40px;

    @include for-medium {
      display: flex;
      margin-bottom: 0;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 220px;

      @include for-medium {
        width: 269px;
        height: 296px;
      }
    }
  }
}

.order-info {
  @include for-medium {
    width: 555px;
  }

  &__title {
    margin-bottom: 18px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.25px;

    @include for-medium {
      margin-bottom: 12px;
      text-align: left;
    }
  }

  &__text {
    height: 167px;
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 32px;

    @include for-medium {
      height: 64px;
      margin-bottom: 26px;
    }
  }

  &__offer {
    font-size: 14px;
    line-height: 22px;
    opacity: 0.6;

    a {
      text-decoration: underline;
    }
  }
}

.order-form {
  @include for-medium {
    display: flex;
    margin-bottom: 10px;
  }

  &__input {
    width: 290px;
    height: 48px;
    margin-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;

    @include for-medium {
      width: 385px;
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  .action-button {
    display: block;
    width: 290px;
    margin-bottom: 10px;

    @include for-medium {
      width: 160px;
      margin-bottom: 0;
    }
  }
}
